/* container */
$widthContainer: 800px;

/* base typography */
$baseFont: 'Work Sans', sans-serif;
$secondFont: 'PT Sans', sans-serif;

$baseWeight: 300;

/* colors */
$linkColor: #111111; /* base color for <a> */